<nav class="navbar navbar-expand-lg" style="background-color: rgba(0,31,255,0.57); padding: 10px; margin-bottom: 50px;">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{'/'}" style="color: white; font-size: 24px;">Trello</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/'}" style="color: white; font-size: 20px;">All Folders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  th:href="@{'/categories'}" style="color: white; font-size: 20px;">Categories</a>
        </li>
      </ul>
    </div>
  </div>
</nav>